/* *{
    margin: 0px;
    padding:0px;
} */
.main {
    width: 96vw;
    height: 100vh;
    color: white;

}

.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    font-family: sans-serif;
    background-image: url("material/Netlifx-logo-1.jpg");
    background-position: center center;
    padding: 20px;
    opacity: .6;
    /* I am gonna work with this one for now */

}

.landing p {
    font-weight: 100;
    font-size: 25px;
}

.landing h1 {
    font-weight: 1000;
    font-size: 60px;
    margin-top: 20%;
    text-align: center;
}

.signup {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0;
    padding: 0;
}

.signup #input {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: inherit;
    width: 60%;
    height: 65px;
    margin-bottom: 10px;
}

.signup #input::placeholder {
    font-size: 18px;
    /* Adjust the font size as needed */
}

.signup #Started {
    color: white;
    width: 35%;
    /* Adjusted width */
    height: 65px;
    background-color: red;
    border-radius: 5px;
    font-weight: 100;
    font-size: large;
    border: 3px solid red;
}

.landing #logo {
    width: 15%;
    height: auto;
    align-self: flex-start;
}