body {
    background-color: black;
}

.main {
    width: 96vw;
    height: 100vh;
    color: white;
    background: black;
    font-family: sans-serif;
}

.separation {
    background-color: rgb(35, 35, 35);
    height: 11px;
    width: 1247px;
}

p {
    font-weight: 100;
    font-size: 25px;
}

h1 {
    font-weight: 1000;
    font-size: 60px;
}

.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 99vw;
    color: white;
    font-family: sans-serif;
    background-image: url("material/Background.jpg");
    background-position: center center;
    padding: 20px;
    /* opacity: .6; */
    /* I am gonna work with this one for now */

}

/* .landing p {
    font-weight: 100;
    font-size: 25px;
} */

.landing h1 {
    margin-top: 20%;
    text-align: center;

}

.signup {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0;
    padding: 0;
}

.signup #input {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: inherit;
    width: 60%;
    height: 65px;
    margin-bottom: 10px;
}

.signup #input::placeholder {
    font-size: 18px;
    /* Adjust the font size as needed */
}

.signup #Started {
    color: white;
    width: 38%;
    /* Adjusted width */
    height: 65px;
    background-color: red;
    border-radius: 5px;
    font-weight: 100;
    border: 3px solid red;
}

.landing #logo {
    width: 15%;
    height: auto;
    align-self: flex-start;
}

/* ~ Part 2 =============================== */
.Part2 {
    background-color: rgb(0, 0, 0);
    color: white;
    width: 98vw;
    font-size: 20px;
    font-family: sans-serif;
    display: flex;
}

.content {
    flex: 1;
    /* Take up remaining space */
    /* padding: 10px; */
    margin-top: 45px;
    margin-left: 29px;
}

.media {
    position: relative;
}

#TV {
    width: auto;
    height: auto;
    z-index: 2;
    position: relative;
}

#video {
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 74%;
    max-height: 54%;
    position: absolute;
    top: 99px;
    left: 81px;
    z-index: 1;
}

/* ~ Part 3 =================== */
.Part3 {
    display: flex;
    flex-direction: row-reverse;
    background-color: black;
    width: 98vw;
    font-family: sans-serif;
}

.media {
    position: relative;
    float: left;
}

.animate {
    display: flex;
    /* justify-content: space-around; */
    justify-content: left;
    align-items: center;
    border: 2px solid rgba(128, 128, 128, 0.7);
    background-color: black;
    border-radius: 18px;
    width: 60%;
    height: 20%;
    position: relative;
    top: -29%;
    right: -22%;
}

.items2 {
    display: flex;
    justify-content: left;

}

.content2 p {
    position: relative;
    bottom: -20px;
    font-size: 17px;
    margin: 0;
    justify-content: center;
    text-align: center;
}

.animate #DIcon {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 33px;
    left: 82%;
}

.content2 #download {
    color: rgb(76, 76, 189);
}

#mobile {
    opacity: 0.6;
}

#movie {
    position: relative;
    width: 80px;
    height: 90px;
    margin-right: 10px;
    margin-left: 10px;
    /* image-resolution: 100px; */
}

/* ############################ Part4 */
.Part4 {
    width: 1247px;
    height: 500px;
    background-color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    /* justify-content: space-around; */
}

.Part4-content {
    text-align: left;
    margin-left: 100px;

}

.Part4-content h1 {
    max-width: 50px;
}

.Part4-content span {
    font-size: 30px;
}

/* * New Part -------------- */
.Part5 {
    background-color: inherit;
    position: relative;
    width: 1247px;
    height: 580px;
    display: flex;
}

#kids {
    float: left;
    margin-left: 80px;
    width: 499px;
    height: 432px;
}

.content-5 {
    margin-left: 90px;
}

/* $ New Part */
.Faqs {
    background-color: inherit;
    display: flex;
    flex-direction: column;
    text-align: center;
}